# Python
__pycache__/
*.spec

# Folders
.vscode/
build/
dist/

# Files
chromedriver.exe

MyAccount.json
Teacher.json
ProjectMembers.json

# Project: Cookie Banner
CookieBanner/*.zip
CookieBanner/*.exe
CookieBanner/*.bat
CookieBanner/*.reg
CookieBanner/*.xlsm
CookieBanner/*.xlsx